html, body {
    height: 100%;
  }

body {
    background-color: #F3F5FC;
}

#encriptar {
    background-color: #0B3971;
    color: white;
} #encriptar:hover, #encriptar:active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#desencriptar {
    background-color: #D9DFE9;
    color: #0B3971;
    border-style: solid;
    border-color: #0B3971;
} #desencriptar:hover, #desencriptar:active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#copy {
    background-color: white;
    color: grey;
}

#texto {
    color: #0A3871;
    font-weight: 500;
    font-size: 1.6em;
}